<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fast.kk.apkupdatelib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--在 Android 8.0 中，安装未知应用权限提高了安装未知来源应用时的安全性-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:name=".ApkApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--//自定义名字 为避免重复建议设为：包名.fileprovider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fast.kk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

    </application>

</manifest>